

    <div ng-controller="RicettaCtrl as rc">
    <div>
            <div class="form-group">
                <h3>
                    Ricette
                    <a ng-href="/#/recipes/create" class="btn btn-primary pull-right" id="btn_user_create">Aggiungi Ricetta</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Users...">
                <hr>
            </div>
			

			<div ng-repeat="ricetta in rc.ricettas | filter:searchText">
				{{ ricetta.name}}
				<button ng-click="rc.showRicetta(ricetta)">Mostra ricetta</button>
				<button ng-click="rc.deleteRicetta(ricetta)">Cancella ricetta</button>
				<div ng-show="ricetta.show">
					<button ng-click="rc.hideRicetta(ricetta)">Nascondi ricetta</button>
					<div><a href="#" editable-text="ricetta.category">{{ ricetta.category || "empty" }}</a></div>
					<div><a href="#" editable-text="ricetta.ingredients">{{ ricetta.ingredients || "empty" }}</a></div>
					<div><a href="#" editable-textarea="ricetta.procedure" e-rows="7" e-cols="40">{{ ricetta.procedure || "empty" }}</a></div>
					<div><button ng-click="rc.updateRicetta(ricetta)">Salva</button></div>
				</div>

			</div>
                  
        </div>

    </div>
